@model IEnumerable<tms_inc.Models.RequestedQuote.RequestedQuote>
@{
    Layout = null;
}

@if (User.Identity.IsAuthenticated)
{
    <table class="table table-striped">
        <thead>
            <tr id="index">
                <th>
                    Freight type
                </th>
                <th>
                    Departure city
                </th>
                <th>
                    Delivery city
                </th>
                <th>
                    Gross weight
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dimention)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th class="menu-btns"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FreightType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalGrossWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dimention)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        <a asp-action="EditQuoteRequest" asp-route-id="@item.Id">Mark as processed</a>
                        <br /> |
                        <a asp-action="DeleteQuoteRequest" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}